/******reset******/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body{
  font-family: "Helvetica Neue", Helvetica, 微软雅黑, "Microsoft YaHei", Arial, sans-serif;
  background: #f2f4f8;
}
:focus {
  outline: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
a img, iframe {
  border: none;
}
ol, ul {
  list-style: none;
}
input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}
select {
  margin: inherit;
}
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
ol { margin-left:2em; }
/* == clearfix == */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.fl{
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.pt-30 {
  padding-top: 30px;
}
html,body,#app,.app-main,.app-leftBar {
  /*height: 100%;*/
}
.fade {
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.slideUp{
  height: 0px;
  overflow: hidden;
}
.slideDown{
  height: auto;
}
.app-header {
  height: 20px;
  background-color: rgb(70, 195, 193);
  background-image: url(../../src/assets/logo.png);
  background-position: 18px center;
  background-repeat: no-repeat;
  background-size: auto 60%;
  padding: 7px 18px;
  line-height: 20px;
}
.app-title {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding-left: 26px;
}
.app-account {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.app-account *{
  display: inline-block;

}
.app-leftBar {
  width:170px;
  height:100vh;
  position: fixed;
  left: 0;
  top:44px;
  background: #324157;
  z-index: 1000;
}

.draw-handler {
  width: 16px;
  height: 80px;
  position: absolute;
  right:-16px;
  top:50%;
  margin-top: -15px;
  background: #828B9B;
  line-height: 80px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding-left: 4px;
  z-index: 0;
}
.draw-handler i {
  font-weight: bold;
}
.draw-handler p {
  display: none;
  font-size: 12px;
  line-height:20px;
  width: 16px;
  position: absolute;
  left: 20px;
  top:0;
}
.draw-handler:hover{
  width: 34px;
  right: -34px;
  background: #ccc;
}
.draw-handler:hover p {
  display: block;
}
.app-feedback {
  position: absolute;
  bottom: 40px;
  left: 170px;
  width: 15px;
  cursor: pointer;
  z-index: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  background-color: #46c3c1;
  opacity: .7;
  font-size: 12px;
}
.app-feedback:hover{
  opacity: 1;
}
.app-feedback-dialog {
  width: 600px;
}
.feedback-body h5{
  margin: 20px 0 10px;
}
.app-feedback-dialog .dialog-footer{
  display: block;
  text-align: center;
}
.app-main {
  position: relative;
  margin: 20px 0 0 170px;
  padding: 15px 20px 0;
}
.app-box{
  overflow: hidden;
}
.back-box {
  background: #fff;
  border: 1px solid #dde3ea;
  border-radius: 2px;
}
.app-breadcrumb {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
.app-breadcrumb .el-breadcrumb__item__inner {
  color: #428bca;
}
.app-breadcrumb .el-breadcrumb__item:last-child .el-breadcrumb__item__inner{
  color: #333;
}
.app-input-list .el-form-item__label,.app-input-list .list-label {
  width: 110px;
}
.app-input-list .el-select{
  width:167px;
}
.order-dialog {
  width: 650px;
}